@import '~@kammy-ui/bootstrap/src/abstracts/variables';

$calendarBg: #5a5a5a;

.game-week-calendar {
  table.calendar {
    border-collapse: collapse;
  }

  table.calendar thead {
    background-color: $calendarBg;
    color: white;
    margin-bottom: 3px;
    border-bottom: 2px solid $white;
  }

  table.calendar thead th {
    font-weight: lighter;
    padding: 10px 3px;
  }

  table.calendar thead th.bolder {
    font-weight: bold;
  }

  table.calendar tbody {
    font-size: .8em;
  }

  table.calendar td {
    text-align: center;
    padding: 8px;
    cursor: pointer;
    border: 1px solid rgba(185, 185, 185, .13);
    min-width: 15px;
  }

  table.calendar tr:last-child td {
    border-bottom: none;
  }

  table.calendar td.month-name {
    font-weight: bold;
    text-align: left;
    cursor: default;
    border-left: none;
  }

  table.calendar td.prev-month,
  table.calendar td.next-month {
    color: transparent;
    cursor: default;
    pointer-events: none;
  }

  table.calendar td.week-separator {
    pointer-events: none;
    padding: 0;
    width: 8px;
    min-width: 0;
  }

  table.calendar td.gw-1,
  table.calendar td.gw-5,
  table.calendar td.gw-9,
  table.calendar td.gw-13,
  table.calendar td.gw-17,
  table.calendar td.gw-21,
  table.calendar td.gw-25,
  table.calendar td.gw-29,
  table.calendar td.gw-33,
  table.calendar td.gw-37,
  table.calendar td.gw-41 {
    background-color: rgba(159, 220, 249, .32);
  }

  table.calendar td.gw-2,
  table.calendar td.gw-6,
  table.calendar td.gw-10,
  table.calendar td.gw-14,
  table.calendar td.gw-18,
  table.calendar td.gw-22,
  table.calendar td.gw-26,
  table.calendar td.gw-30,
  table.calendar td.gw-34,
  table.calendar td.gw-38,
  table.calendar td.gw-42 {
    background-color: rgba(145, 212, 110, .32);
  }

  table.calendar td.gw-3,
  table.calendar td.gw-7,
  table.calendar td.gw-11,
  table.calendar td.gw-15,
  table.calendar td.gw-19,
  table.calendar td.gw-23,
  table.calendar td.gw-27,
  table.calendar td.gw-31,
  table.calendar td.gw-35,
  table.calendar td.gw-39,
  table.calendar td.gw-43 {
    background-color: rgba(255, 232, 91, .32);
  }

  table.calendar td.gw-4,
  table.calendar td.gw-8,
  table.calendar td.gw-12,
  table.calendar td.gw-16,
  table.calendar td.gw-20,
  table.calendar td.gw-24,
  table.calendar td.gw-28,
  table.calendar td.gw-32,
  table.calendar td.gw-36,
  table.calendar td.gw-40,
  table.calendar td.gw-44 {
    background-color: rgba(246, 151, 60, .32);
  }

  table.calendar td.holidays {
    font-weight: bold;
    color: red;
    text-decoration: underline;
  }

  table.calendar td.weekend {
    font-style: italic;
    font-weight: bold;
  }

  table.calendar td.bolder {
    font-weight: bold;
  }

  table.calendar td.range,
  table.calendar td.selected {
    background-color: rgba(59, 20, 49, .3);
    font-weight: bold;
  }

  table.calendar td.gw-1.range,
  table.calendar td.gw-1.selected,
  table.calendar td.gw-5.range,
  table.calendar td.gw-5.selected,
  table.calendar td.gw-9.range,
  table.calendar td.gw-9.selected,
  table.calendar td.gw-13.range,
  table.calendar td.gw-13.selected,
  table.calendar td.gw-17.range,
  table.calendar td.gw-17.selected,
  table.calendar td.gw-21.range,
  table.calendar td.gw-21.selected,
  table.calendar td.gw-25.range,
  table.calendar td.gw-25.selected,
  table.calendar td.gw-29.range,
  table.calendar td.gw-29.selected,
  table.calendar td.gw-33.range,
  table.calendar td.gw-33.selected,
  table.calendar td.gw-37.range,
  table.calendar td.gw-37.selected {
    background-color: rgba(159, 220, 249, 1);
    font-weight: bold;
  }

  table.calendar td.gw-2.range,
  table.calendar td.gw-2.selected,
  table.calendar td.gw-6.range,
  table.calendar td.gw-10.range,
  table.calendar td.gw-10.selected,
  table.calendar td.gw-14.range,
  table.calendar td.gw-14.selected,
  table.calendar td.gw-18.range,
  table.calendar td.gw-18.selected,
  table.calendar td.gw-22.range,
  table.calendar td.gw-22.selected,
  table.calendar td.gw-26.range,
  table.calendar td.gw-26.selected,
  table.calendar td.gw-30.range,
  table.calendar td.gw-30.selected,
  table.calendar td.gw-34.range,
  table.calendar td.gw-34.selected,
  table.calendar td.gw-38.range,
  table.calendar td.gw-38.selected {
    background-color: rgba(145, 212, 110, 1);
    font-weight: bold;
  }

  table.calendar td.gw-3.range,
  table.calendar td.gw-3.selected,
  table.calendar td.gw-7.range,
  table.calendar td.gw-7.selected,
  table.calendar td.gw-11.range,
  table.calendar td.gw-11.selected,
  table.calendar td.gw-15.range,
  table.calendar td.gw-15.selected,
  table.calendar td.gw-19.range,
  table.calendar td.gw-19.selected,
  table.calendar td.gw-23.range,
  table.calendar td.gw-23.selected,
  table.calendar td.gw-27.range,
  table.calendar td.gw-27.selected,
  table.calendar td.gw-31.range,
  table.calendar td.gw-31.selected,
  table.calendar td.gw-35.range,
  table.calendar td.gw-35.selected,
  table.calendar td.gw-39.range,
  table.calendar td.gw-39.selected {
    background-color: rgba(255, 232, 91, 1);
    font-weight: bold;
  }

  table.calendar td.gw-4.range,
  table.calendar td.gw-4.selected,
  table.calendar td.gw-8.range,
  table.calendar td.gw-8.selected,
  table.calendar td.gw-12.range,
  table.calendar td.gw-12.selected,
  table.calendar td.gw-16.range,
  table.calendar td.gw-16.selected,
  table.calendar td.gw-20.range,
  table.calendar td.gw-20.selected,
  table.calendar td.gw-24.range,
  table.calendar td.gw-24.selected,
  table.calendar td.gw-28.range,
  table.calendar td.gw-28.selected,
  table.calendar td.gw-32.range,
  table.calendar td.gw-32.selected,
  table.calendar td.gw-36.range,
  table.calendar td.gw-36.selected,
  table.calendar td.gw-40.range,
  table.calendar td.gw-40.selected {
    background-color: rgba(246, 151, 60, 1);
  }

  div.calendar-controls {
    margin: 5px auto;
    display: table;
    font-size: 25px;
    line-height: 35px;
  }

  div.calendar-controls div {
    display: inline;
  }

  div.calendar-controls .current-year {
    margin: 0 30px;
  }

  div.calendar-controls .control {
    font-weight: bolder;
    color: #323232;
    font-size: .8em;
    cursor: pointer;
  }

  div.calendar-controls .today {
    position: absolute;
    right: 15px;
    line-height: 35px;
    font-size: .6em;
    text-transform: uppercase;
  }

  /* Demo */

  div#calendar {
    position: relative;
    border-radius: 5px;
    border: 1px solid #5a5a5a;
    background-color: white;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  div#root {
    display: table;
    margin: 50px auto;
  }

  h2,
  h3,
  h4,
  h5 {
    text-align: center;
    color: #404040;
  }

  h1 {
    text-align: center;
    color: #b10909;
  }

  a {
    color: #b10909;
    font-weight: bolder;
    text-decoration: none;
  }

  a.demoLink {
    text-decoration: underline;
  }

  div.options {
    border: 1px solid #b9b9b9;
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 30px;
  }

  div.options select {
    margin-left: 10px;
  }

  div.options .half {
    width: 48%;
    display: inline-table;
  }

  div.options textarea {
    height: 320px;
    width: 100%;
    resize: vertical;
    padding: 5px;
  }

  div.options textarea.error {
    border-color: darkred;
    box-shadow: darkred 0 0 5px inset;
  }

  div.options .half a {
    font-size: .7em;
    margin-left: 10px;
  }

  p.interactiveDemo {
    font-style: italic;
  }

  p.interactiveDemo i {
    background-color: #e2e2e2;
    font-style: normal;
    font-family: monospace;
    padding: 2px 5px;
  }
}
