@import '~@kammy-ui/bootstrap/src/abstracts/variables';

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.interstitial {
  position: relative;
  display: inline-block;
  color: $dark;
  padding: 0;
  border: 0;
  font-size: 1.25em;

  svg {
    animation: spin 4s linear infinite;
    height: 24px;
    width: 24px;
    position: relative;
    top: .2em;
    margin-right: .5em;

    path {
      fill: currentColor;
    }
  }
}
