{
  "sourceMaps": true,
  "presets": ["react", ["env", {
    "targets": {
      "browsers": [
        "safari >= 9",
        "ie 11",
        "last 2 Chrome versions",
        "last 2 Firefox versions",
        "last 2 Edge versions",
        "ios_saf >= 9",
        "ie_mob 11",
        "Android >= 4"
      ],
      "debug": false,
      "loose": false,
      "modules": false,
      "useBuiltIns": true
    }
  }]],
  "plugins": [
    "recharts",
    "react-loadable/babel",
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-object-assign",
    "syntax-dynamic-import",
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }]
  ],
  "env": {
    "test": {
      "presets": [
        "react", [ "env", {
          "targets": { "node": "9" }
        }]
      ]
    }
  }
}
