@import '~@kammy-ui/bootstrap/src/abstracts/variables';

.popover {
  color: $brand--dark;
  background: $color-grey-light;
  border: 2px solid currentcolor;
  padding: 0 8px;
  border-radius: 5px;
  z-index: 100;

  &--shadow {
    box-shadow: 0 8px 40px rgba(0, 0, 0, .1);
  }

  &__header {
    margin: 0 0 4px;
    padding: 0;
    line-height: 1;
  }

  &__body {
    line-height: 1.35em;
  }
}
