@import '~@kammy-ui/bootstrap';

.divisions {
  &__table {
    width: 100%;
    border-bottom: 1px solid $dark-grey;
    border-right: 1px solid $dark-grey;
    background: $white;

    thead {
      background-color: $brand;
      color: $white;
    }

    tr {
      &:nth-child(even) {
        background: $grey;
      }
    }

    td:not(.divisions__data),
    th {
      font-weight: normal;
      padding: 1em .5em;

      &:first-child {
        text-align: left;
      }
    }

    td { /* stylelint-disable-line no-descending-specificity */
      border-top: 1px solid $dark-grey;
    }
  }

  &__point {
    position: relative;
  }

  &__additional-point {
    left: 100%;
  }

  &__points-or-positions {
    max-width: 200px;
  }

  &__data {
    text-align: center;
  }

  &__data--rank {
    border-left: 1px solid $dark-grey;
    width: 6%;
    padding-left: 1em;
  }

  &__data--points {
    width: 4%;
    color: $darker;
    padding-right: 1em;
    font-size: .75em;
  }
}

