/* stylelint-disable */
.gradient_7 { background: #57bb8a; }
.gradient_6-5 { background: #66c195; }
.gradient_6 { background: #76c79f; }
.gradient_5-5 { background: #85ceaa; }
.gradient_5 { background: #94d4b5; }
.gradient_4-5 { background: #a3dabf; }
.gradient_4 { background: #b3e0ca; }
.gradient_3-5 { background: #c2e6d4; }
.gradient_3 { background: #c2e6d4; }
.gradient_2-5 { background: #d1ecdf; }
.gradient_2 { background: #e0f3ea; }
.gradient_1-5 { background: #f0f9f4; }
.gradient_1 { background: #f0f9f4; }
.gradient_0-5 { background: rgba(255, 255, 255, .5); }
.gradient_0 { background: transparent; }
.gradient_-0-5 { background: rgba(255, 255, 255, .5); }
.gradient_-1 { background: #fcf3f2; }
.gradient_-1-5 { background: #f9e6e5; }
.gradient_-2 { background: #f6dad7; }
.gradient_-2-5 { background: #f6dad7; }
.gradient_-3 { background: #f3ceca; }
.gradient_-3-5 { background: #f0c1bd; }
.gradient_-4 { background: #ecb5b0; }
.gradient_-4-5 { background: #e9a8a3; }
.gradient_-5 { background: #e69c96; }
.gradient_-5-5 { background: #e69c96; }
.gradient_-6 { background: #e39088; }
.gradient_-6-5 { background: #e0837b; }
.gradient_-7 { background: #dd776e; }

