/* stylelint-disable */
.gradient_7    { background: #57BB8A; }
.gradient_6-5  { background: #66C195; }
.gradient_6    { background: #76C79F; }
.gradient_5-5  { background: #85CEAA; }
.gradient_5    { background: #94D4B5; }
.gradient_4-5  { background: #A3DABF; }
.gradient_4    { background: #B3E0CA; }
.gradient_3-5  { background: #C2E6D4; }
.gradient_3    { background: #C2E6D4; }
.gradient_2-5  { background: #D1ECDF; }
.gradient_2    { background: #E0F3EA; }
.gradient_1-5  { background: #F0F9F4; }
.gradient_1    { background: #F0F9F4; }
.gradient_0-5  { background: rgba(255, 255, 255, .5); }
.gradient_0    { background: transparent; }
.gradient_-0-5 { background: rgba(255, 255, 255, .5); }
.gradient_-1   { background: #FCF3F2; }
.gradient_-1-5 { background: #F9E6E5; }
.gradient_-2   { background: #F6DAD7; }
.gradient_-2-5 { background: #F6DAD7; }
.gradient_-3   { background: #F3CECA; }
.gradient_-3-5 { background: #F0C1BD; }
.gradient_-4   { background: #ECB5B0; }
.gradient_-4-5 { background: #E9A8A3; }
.gradient_-5   { background: #E69C96; }
.gradient_-5-5 { background: #E69C96; }
.gradient_-6   { background: #E39088; }
.gradient_-6-5 { background: #E0837B; }
.gradient_-7   { background: #DD776E; }

