@import '~@kammy-ui/bootstrap/src/abstracts/variables';

.contextual-help {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: $brand--dark;

  &__box {
    position: absolute;
    transition: opacity ease-in-out 250ms 250ms;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    text-align: center;

    &--active {
      z-index: 1;
      opacity: 1;
      visibility: visible;
    }
  }
}
