@import '~@kammy-ui/bootstrap/src/abstracts/variables';

$nav-height: 3.75em;
$footer-height: 2em;
$content-height: calc(100vh - #{$nav-height + $footer-height});
$col1-width: 33% !default;
$col2-width: 66% !default;

.layout {
  width: 100%;

  &__nav {
    padding: 0 2.25%;
    min-height: $nav-height;
    display: flex;
    align-items: center;
    background: $darker;
  }

  &__content {
    min-height: $content-height;
    padding: 0 2.25%;
    max-width: 1050px;
    margin: 0 auto;

    &::before,
    &::after {
      content: '';
      display: table;
      clear: both;
    }
  }

  &__footer {
    padding: 0 2.25%;
    height: $footer-height;
    line-height: 2em;

    &-content {
      max-width: 1000px;
      margin: 0 auto;
    }
  }
}
