@import '~@kammy-ui/bootstrap/src/abstracts/variables';

.players-filters {
  &__filters {
    display: flex;
    position: relative;
    z-index: 2;
  }

  &__content {
    position: relative;
    z-index: 1;
  }

  &__group {
    flex: 1;
    margin-right: 2em;
  }
}
