/* stylelint-disable */
.pb-container {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
  color: #163;
}

.pb-container .pb-button {
  background: transparent;
  border: 2px solid currentColor;
  border-radius: 27px;
  color: currentColor;
  cursor: pointer;
  padding: .7em 1em;
  text-decoration: none;
  text-align: center;
  height: 54px;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  transition: background-color .3s, color .3s, width .3s, border-width .3s, border-color .3s, border-radius .3s;

  &:disabled {
    opacity: .8;
    background-color: #eee;
    color: grey;
  }

  &:hover:not(:disabled) {
    color: #fff;
    background-color: #163;
  }
}

.pb-container .pb-button span {
  display: inherit;
  transition: opacity .3s .1s;
  font-size: 2em;
  font-weight: 100;
}

.pb-container .pb-button svg {
  height: 54px;
  width: 54px;
  position: absolute;
  //transform: translate(-50%, -50%);
  pointer-events: none;
  transform-origin: center;
  top: 0;
  left: 0;
}

.pb-container .pb-button svg path {
  opacity: 0;
  fill: none;
}

.pb-container .pb-button svg.pb-progress-circle {
  animation: spin .9s infinite cubic-bezier(.085, .26, .935, .71);
}

.pb-container .pb-button svg.pb-progress-circle path {
  stroke: currentColor;
  stroke-width: 5;
}

.pb-container .pb-button svg.pb-checkmark path,
.pb-container .pb-button svg.pb-cross path {
  stroke: #fff;
  stroke-linecap: round;
  stroke-width: 4;
}

.pb-container.disabled .pb-button {
  cursor: not-allowed;
}

.pb-container.loading .pb-button {
  width: 54px;
  border-width: 6.5px;
  border-color: #ddd;
  cursor: wait;
  background-color: transparent;
  padding: 0;
}

.pb-container.loading .pb-button span {
  transition: all .15s;
  opacity: 0;
  display: none;
}

.pb-container.loading .pb-button .pb-progress-circle > path {
  transition: opacity .15s .3s;
  opacity: 1;
}

.pb-container.success .pb-button {
  border-color: #a0d468;
  background-color: #a0d468;
}

.pb-container.success .pb-button span {
  transition: all .15s;
  opacity: 0;
  display: none;
}

.pb-container.success .pb-button .pb-checkmark > path {
  opacity: 1;
}

.pb-container.error .pb-button {
  border-color: #ed5565;
  background-color: #ed5565;
}

.pb-container.error .pb-button span {
  transition: all .15s;
  opacity: 0;
  display: none;
}

.pb-container.error .pb-button .pb-cross > path {
  opacity: 1;
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
    transform-origin: center center;
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
    transform-origin: center center;
  }
}
