.change-icon {
  display: block;
  width: 20px;
  height: 29px;
  background: white;
}

button.change-icon-button:disabled {
  background-color: #eee;
  color: grey;

  svg {
    fill: #eee;
  }

  .change-icon {
    background-color: grey;
  }
}

button:not(:disabled).change-icon-button {
  transition: background-color 200ms;
  background-color: black;

  &:focus,
  &:hover {
    background-color: green;

    svg {
      fill: green;
    }
  }

  svg { /* stylelint-disable-line no-descending-specificity */
    fill: black;
    transition: fill 200ms;
  }
}

.transfers-page {
  &__item {
    &--selected {
      font-weight: bold;
    }
  }
}

.transfer-player__input {
  max-width: 450px;

  input {
    font-size: 1.25em;
  }
}

.transfer__final-step {
  position: relative;
}
