@import '~@kammy-ui/bootstrap/src/abstracts/variables';

.nav-item {
  position: relative;
  padding: .5em 1em;

  &__children {
    display: none;
    position: absolute;
    top: 2.2em;
    right: 0;
    min-width: 100%;
    background: $brand;
    z-index: 1;
  }

  &--open,
  &:hover {
    background-color: rgba(0, 0, 0, .25);

    .nav-item__children {
      display: block;
    }
  }

  &__child {
    padding: .5em;

    &:hover {
      background-color: rgba(0, 0, 0, .25);
    }
  }
}
